{% extends 'base.html' %}

{% block content %}
{% load static %}
<script src="{% static "js/search-page.js" %}"></script>
<body>
    <div class="container-fluid">
        <div class="row mt-3 mb-2">
            <div class="col text-center">
                <h1>Pencarian Buku</h1>
            </div>
        </div>

        <div class="row m-2">
            <div class="col">
                <div id="search-bar">
                    <form id = "input-form">
                    {{ search_form }}
                    <button class="btn btn-light" id="search-button">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="hasil_list" class="text-center">
                </div>
            </div>
        </div>
    </div>

    

</body>
{% endblock %}